{% extends "template.html" %}
{% block content %}
    <!-- Create page to render poll with choices -->
    <div class="poll">
        <form action="{{ url_for('Polls.create_vote', poll_id=poll_id) }}" method="post">
        <h2>{{ poll.question }}</h2>
        <input type="hidden" name="user" value="1">
        <ul>
            {% for choice in choices %}
                <li>
                    <label>
                        {{ choice.choice }}
                        <input type="radio" name="choice" value="{{ choice.id }}" />
                    </label>
                </li>
            {% endfor %}
        </ul>
        <input type="submit" value="Submit" />
    </div>
{% endblock %}
